.full-width {
    width: 100%;
  }
  mat-sidenav[style] {
    visibility: visible !important;
  }
  .mat-drawer {
    transform: none !important;
  }
  .toggle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    &:hover {
      cursor: pointer;
    }
  }

  .router-link-active{
    border-left: solid 3px #000;

  }
  mat-list-item,
  a {
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      background-color: #fafafa;
      border-left: solid 3px #000
    }
  }
  mat-icon {
    color: #000;
  }